@use './base/reset';
@use './base/fonts';
@use './base/variables' as *;
@use './base/mixins' as *;

//@import "../../icons/style.css";
html{
  font-size: 16px;

  @media screen and (min-width:900px) {
    font-size: 18px;
  }
  @media screen and (min-width:1200px) {
    font-size: 20px;
  }
}
