@use './base/reset';
@use './base/fonts';
@use './base/variables' as *;
@use './base/mixins' as *;

//@import "../../icons/style.css";
html,
body {
  height: 100%;
  margin: 0;
  font-size: 15px;
  font-family: "Barlow", sans-serif;

  @media screen and (min-width: 900px) {
    font-size: 18px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
  background-image: url("../../img/bg-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  .logo {
    width: 20%;
    margin: 0 auto 2rem auto;
    &__img {
      width: 30%;
      margin: 0 auto;
    }
    &__main {
      width: 100%;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 0.3rem;
      font-family: "Unica One", sans-serif;
      font-size: 3rem;
      color: $white;
    }
    &__sub {
      color: rgba(255, 255, 255, 0.432);
      width: 100%;
      text-align: center;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 0.8rem;
    }
  }

  .login {
    position: relative;
    height: auto;
    width: 25%;
    margin: auto;
    padding: 40px 40px;
    background-size: cover;
    box-shadow: 0px 30px 60px -5px #000;
    &__action {
      padding-left: 12px;
      font-size: 0.8rem;
      text-transform: uppercase;
      padding-bottom: 5px;
      letter-spacing: 2px;
      display: inline-block;
      font-weight: 100;
      text-decoration: none;
      color: $white;
      &--active {
        border-bottom: 3px solid $darkest-green;
      }
      &--nonactive {
        color: rgba(255, 255, 255, 0.2);
      }
      &:first-child {
        padding-left: 0px;
      }
    }

    &__form {
      padding-top: 55px;
      &__type {
        border: none;
        width: 100%;
        padding: 10px 20px;
        display: block;
        height: 38px;
        border-radius: 20px;
        background: rgba(255, 255, 255, 0.1);
        border: 2px solid rgba(255, 255, 255, 0);
        overflow: hidden;
        margin-top: 15px;
        transition: all 0.5s ease-in-out;
        &:focus {
          outline: 0;
          border: 2px solid rgba(255, 255, 255, 0.5);
          border-radius: 20px;
          background: rgba(0, 0, 0, 0);
        }
        &:focus {
          opacity: 0.6;
        }
      }
      &__text {
        text-transform: uppercase;
        font-size: 15px;
        opacity: 0.4;
        display: inline-block;
        position: relative;
        top: -65px;
        transition: all 0.5s ease-in-out;
        opacity: 0.6;
      }
      &__signin {
        background-color: $light-green;
        color: #fff;
        width: 100%;
        padding: 10px 20px;
        display: block;
        height: 39px;
        border-radius: 20px;
        margin-top: 20px;
        transition: all 0.5s ease-in-out;
        border: none;
        text-transform: uppercase;
        &:hover {
          background: $dark-green;
          box-shadow: 0px 4px 35px -5px $shadow;
          cursor: pointer;
        }
        &:focus {
          outline: none;
        }
      }
      &__fp {
        text-align: center;
        font-weight: 100;
        display: block;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.432);
        margin-top: 2rem;
        font-size: 0.8rem;
      }

      input {
        display: inline-block;
        padding-top: 8px;
        font-size: 14px;
        &[type="text"],
        &[type="password"] {
          color: #fff;
        }
      }
    }
  }
}
